@import './button.css';

/* purgecss start ignore */
@tailwind base;

/* @font-face {
  font-family: 'Roboto Bold';
  src: url('/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
